* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    background-color: #b6f542;
    width: 200px;
    height: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
}