* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p::first-letter {
    font-size: 25px;
    font-weight: bold;
}

p::first-line {
    background-color: #57a8ba;
}

a {
    color: #000;
}

a:hover {
    color: #FF0000;
}