* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* selecionando os elementos ímpares*/
div:nth-child(odd) {
    background-color: #b6fc03;
}

/* selecionando os elementos pares*/
div:nth-child(even) {
    background-color: #039dfc;
}