:root {
    --bg-color: rgb(105, 161, 161);
    --bg-second: rgb(84, 173, 84);
    --font-color: rgb(255, 255, 255);
    --font-size: 25px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-size: var(--font-size);
    margin: 0;
}

h1 {
    color: var(--font-color);
}

.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 450px) {
    :root {
        --font-size: 15px;
    }
}