*{
    box-sizing: border-box;
}

.container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
}

.item {
    background-color: #4287f5;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}