*{
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr) 200px;
    gap: 10px 20px;
}

.item {
    background-color: #4287f5;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}