* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

span::before {
    content: "";
    background-color: #329da8;
    width: 20px;
    height: 20px;
    display: inline-block;
}
