* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
    max-width: 900px;
    margin: 0;
    padding: 0;
}

form {
    width: 200px;
    background-color: #DCDCDC;
    margin: auto;
    margin-top: 5px;
}