* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
}

h1 {
    font-size: 3em;
}

.box {
    font-size: 1em;
}

.box_interno {
    width: 10em;
    height: 10em;
    background-color: #999;
}

/*
1em equivale a 20px 
*/