* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

h1 {
    font-size: 3rem;
}

.box {
    font-size: 1rem;
}

.box_interno {
    width: 10rem;
    height: 10rem;
    background-color: #999;
}

/*
1em equivale a 20px 
*/