* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
    max-width: 900px;
    margin: 0;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: rgb(65,105,225);
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 5px #888;
}

