*{
    box-sizing: border-box;
}

.container {
    height: 800px;
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 100px;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.item {
    background-color: #4287f5;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}