:root {
    --bg-color: rgb(105, 161, 161);
    --bg-second: rgb(84, 173, 84);
    --font-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

h1 {
    color: var(--font-color);
}

.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}