:root {
    --bg-color: rgb(105, 161, 161);
    --bg-second: rgb(84, 173, 84);
    --font-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(105, 161, 161);
    margin: 0;
}

h1 {
    color: #FFF;
}

.container {
    background-color: rgb(84, 173, 84);
    color: #FFF;
}