* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

table, td, th {
    border: 1px solid #000;
   
}

@media only print {

    h1 {
        font-size: 20px;
        font-weight: normal;
    }

    table, td, th {
        border-collapse: collapse;
    }
}




