* {
    box-sizing: border-box;
}

body {
    background-color: rgb(9, 70, 70);
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

@media only print {

    h1 {
        font-size: 20px;
        font-weight: normal;
    }
}




