.container {
    background-color: #DDD;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 200px;
    background-color: rgb(68, 68, 190);
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}